/* css reset */
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(226, 226, 226);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bubbleWrapper{
  height: 90vh;
  width: 100vw;
}

#container{
  height: 10vh;
  width: 100vw;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  position: absolute;
  animation: move ease;
  animation-iteration-count: 1;
}


@keyframes move {
  0% {
    bottom: -5%;
  }
  100% {
    bottom: 95%;
  }
}

#container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding: 15px 0;
  background-color: rgb(218, 218, 218);
}

li{
  list-style: none;
}

#container ul{
  display: flex ;
  align-items: center;
  gap: 10px;
}

.fa-heart{
  font-size: 25px;
  color: green;
}

#scoreCard{
  display: flex;
  align-items: center;
  gap: 10px;
}

#scoreCard div{
  font-weight: 500;
  font-size: 16px;
}

#scoreCard div span{
  font-weight: 700;
  font-size: 18px;
}

#gameBtn{
  padding: 10px 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px gray,-2px -2px 2px gray;
  transition: all 0.3s ease-in-out;
}

#gameBtn:hover{
  scale: 1.1;
}